#welcome-section {
  background-color: #000;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1 {
  font-size: 55px;
}

.text-paragraph {
  font-size: 25px;
}
#projects {
  background-color: #45567d;
}

.project-title {
  background-color: #303841;
}

#footer {
  background-color: #303841;
}

a {
  text-decoration: none;
  color: white;
}
.show-button {
  background-color: #3a3d40 !important;
  color: white;
}
